.pw-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.pw-card-holder {
  width: 95vw;
  height: 95vh;
  background-color: #333444;
  border-radius: 2rem;
}

.pw-heading {
  background-color: transparent;
  margin-top: 1rem;
}

.pw-card-holder h1 {
  background-color: transparent;
  text-align: center;
  padding: 1.3rem;
  font-weight: 700;
}

.pw-card-section {
  background-color: transparent;
  margin-top: 1rem;
  padding: 3rem;
}

.pw-card-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 3rem;
  overflow: scroll;
}

.dropdown-toggle,
.dropdown,
.pw-options {
  background-color: transparent;
}

.pw-options {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-container {
  gap: 1.5rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.search {
  visibility: hidden;
  margin-left: 3rem;
  width: 50vw;
  border-radius: 1rem;
}

.search input {
  outline: none;
  border: transparent;
  width: 100%;
  background-color: transparent;
  padding: 1rem;
}

.swiper,
.swiper-pagination,
.swiper-pagination-clickable,
.swiper-pagination-bullets,
.swiper-pagination-horizontal,
.swiper-wrapper,
.swiper-initialized,
.swiper-horizontal,
.swiper-backface-hidden,
.mySwiper {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  /* .pw-card-container {
    flex-direction: column;
    overflow: unset;
  } */
  /* .pw-card-holder {
    height: 100vh;
  } */
  .pw-options {
    justify-content: center;
    flex-direction: column;
  }
  .filter-container {
    flex-direction: column;
  }
}
