.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-holder {
  width: 95vw;
  height: 95vh;
  background-color: #333444;
  border-radius: 2rem;
}

.heading {
  background-color: transparent;
  margin-top: 1rem;
}

.card-holder h1 {
  background-color: transparent;
  text-align: center;
  padding: 1.3rem;
  font-weight: 700;
}

.card-section {
  background-color: transparent;
  margin-top: 4.5rem;
  padding: 3rem;
}

.card-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 3rem;
  overflow: scroll;
}
