.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card-holder {
  width: 95vw;
  height: 95vh;
  background-color: #333444;
  border-radius: 2rem;
}

.card-holder h1 {
  background-color: transparent;
  text-align: center;
  padding: 1.3rem;
  font-weight: 700;
}
