.pw-card-container,
.pc-card,
.pc-image,
.pc-title,
.pc-category,
.pc-desc,
.pc-price,
.pc-info {
  background-color: transparent;
}

.pc-card {
  background-color: rgba(35, 35, 35, 0.6);
  width: 15rem;
  padding: 3rem;
  height: 24rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 1rem;
}

.pc-card .pc-image img {
  background: transparent;
}

.pc-card .pc-title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
}

.pc-card .pc-category {
  width: 100%;
  font-size: small;
  text-align: left;
}

.pc-card .pc-desc {
  --max-lines: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pc-card .pc-price {
  width: 100%;
}
